[dev]
mssql_url = dev-data-science-parking-prediction.crrvm15jali6.us-west-2.rds.amazonaws.com,1433
mssql_db_name = parking_prediction
mssql_db_user = padmin


[prod]
mssql_url = prod-data-science-parking-prediction.c06qvrg7g44x.us-west-2.rds.amazonaws.com,1433
mssql_db_name = parking_prediction
mssql_db_user = padmin